@import "./common/var.scss";
@import "./mixins/mixins.scss";


@include b(button-group){
    &>.#{$namespace}-button{
        &:first-child{
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }

        &:last-child{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:nth-child(2){
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:nth-last-child(2){
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }
}