@import "./common/var.scss";
@import "./mixins/mixins.scss";


@include b(row){
    display: flex;
    flex-wrap: wrap;
    @include when(justify-end){
        justify-content: end;
    }
    @include when(justify-space-around){
        justify-content: space-around;
    }

    @include when(justify-space-between){
        justify-content: space-between;
    }
}